---
- name: Installing andrewrothstein.python
  ansible.builtin.include_role:
    name: andrewrothstein.python
- name: Resolve platform specific vars
  ansible.builtin.include_vars: '{{ item }}'
  with_first_found:
    - files:
        - '{{ ansible_facts["distribution"] }}-{{ ansible_facts["distribution_release"] }}.yml'
        - '{{ ansible_facts["distribution"] }}.yml'
        - '{{ ansible_facts["os_family"] }}.yml'
      skip: true
      paths:
        - '{{ role_path }}/vars'
- name: Check for installation in {{ gcloud_install_dir }}
  become: '{{ gcloud_escalate }}'
  become_user: root
  ansible.builtin.stat:
    path: '{{ gcloud_install_dir }}'
  changed_when: false
  register: gcloud_binary
- name: Downloading and installing gcloud
  when: not gcloud_binary.stat.exists
  block:
    - name: Downloading {{ gcloud_url }} to {{ gcloud_tmp_archive }}
      become: '{{ gcloud_escalate }}'
      become_user: root
      ansible.builtin.get_url:
        url: '{{ gcloud_url }}'
        dest: '{{ gcloud_tmp_archive }}'
        checksum: '{{ gcloud_checksum }}'
        mode: '644'
    - name: Mkdir {{ gcloud_install_dir }}
      become: '{{ gcloud_escalate }}'
      become_user: root
      ansible.builtin.file:
        path: '{{ gcloud_install_dir }}'
        state: directory
        mode: '755'
    - name: Installing andrewrothstein.unarchivedeps
      ansible.builtin.include_role:
        name: andrewrothstein.unarchivedeps
    - name: Unarchive {{ gcloud_tmp_archive }} to {{ gcloud_install_dir }}
      become: '{{ gcloud_escalate }}'
      become_user: root
      ansible.builtin.unarchive:
        remote_src: true
        src: '{{ gcloud_tmp_archive }}'
        dest: '{{ gcloud_install_dir }}'
        creates: '{{ gcloud_install_subdir }}'
  always:
    - name: Rm {{ gcloud_tmp_archive }}
      become: '{{ gcloud_escalate }}'
      become_user: root
      ansible.builtin.file:
        path: '{{ gcloud_tmp_archive }}'
        state: absent
- name: Link {{ gcloud_link_dir }} to {{ gcloud_install_subdir }}
  become: '{{ gcloud_escalate }}'
  become_user: root
  ansible.builtin.file:
    src: '{{ gcloud_install_subdir }}'
    dest: '{{ gcloud_link_dir }}'
    state: link
- name: Mkdir {{ gcloud_profile_dir }}
  become: '{{ gcloud_escalate }}'
  become_user: root
  ansible.builtin.file:
    path: '{{ gcloud_profile_dir }}'
    state: directory
    mode: '755'
- name: Add binaris to login shell
  become: '{{ gcloud_escalate }}'
  become_user: root
  with_items:
    - f: gcloud.sh
      d: '{{ gcloud_profile_dir }}'
  ansible.builtin.template:
    src: '{{ item.f }}.j2'
    dest: '{{ item.d }}/{{ item.f }}'
    mode: '{{ item.m | default("0644") }}'
